body{
  background-color: #FAD9C1;
}
.properties {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.properties .propertiesTitle {
  font-family: cursive;
  font-size: 60px;
  text-align: center;
}

.propertiesList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;
}

/* PROPERTIES ITEM STYLING */

.propertiesItem {
  background-color: whitesmoke;
  border-radius: 15px;
  border:solid 5px whitesmoke;
  width: 300px;
  height: 450px;
  margin: 20px;
float: left;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: transform .5s;
  transform-origin: center;
  transition:all 1s;
}
.propertiesItem:hover {
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in; */
  background-color: #FE9C8F;
  transform: scale(1.1);
  transform-origin: center;
  transition-delay: 0.4s;
  transition: all 1s;
  cursor: pointer;
}

.propertiesItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.propertiesItem h1,
.propertiesItem p {
  margin-left: 20px;
}
.card-footer{
  text-align:center;
  vertical-align: top;
}
.card-footer Button{
  border-radius:10px;
  border: none;
  background-color: skyblue;

}
@media only screen and (max-width: 1300px) {
  .propertiesList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .propertiesList {
    grid-template-columns: 1fr;
  }
}
