.properties {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.properties .propertiesTitle {
  font-family: cursive;
  font-size: 60px;
}

.propertiesList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* PROPERTIES ITEM STYLING */

.propertiesItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.propertiesItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.propertiesItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.propertiesItem h1,
.propertiesItem p {
  margin-left: 20px;
}

.filterButtonsVertical {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.filterButtonsVertical a {
  background-color: #ccc; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none; /* Remove underline from links */
}

.filterButtonsVertical a:hover {
  background-color: #FE9C8F; /* Dark grey background on mouse-over */
}

.filterButtonsVertical a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}

@media only screen and (max-width: 1300px) {
  .propertiesList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .propertiesList {
    grid-template-columns: 1fr;
  }
}
.bgcolor-primary{
  background-color: #FE9C8F;
}
.COLORSCHEME {

  color: #FE9C8F; /* primary */
  color: #FAD9C1; /* secondary */
  color: #FEB2A8; /* info */
  color: #F9CAA7;
  color: #FEC8C1;
  }