.signup {
  width: 100%;
  height: 90vh;
  display: flex;
}

.signup .leftSide {
  height: 100%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
